* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#cardsContainer {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: auto;
}

#cardsContainer::before {
  content: "";
  display: block;
  padding-top: 100%;
}

#innerContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 640px;
  max-height: 640px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 5px;
  perspective: 1000px;
}
