* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background: #183bf0;
  height: 100vh;
  display: flex;
}

#cardsContainer {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: auto;
}

#cardsContainer::before {
  content: "";
  display: block;
  padding-top: 100%;
}

#innerContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 640px;
  max-height: 640px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 5px;
  perspective: 1000px;
}

.cards12 {
  width: calc((100% - 40px) / 4);
  height: calc((100% - 77px) / 3);
}

.cards20 {
  width: calc((100% - 50px) / 5);
  height: calc((100% - 87px) / 4);
}

.cards30 {
  width: calc((100% - 60px) / 6);
  height: calc((100% - 97px) / 5);
}

.card {
  margin: 5px;
  transform: scale(1);
  transition: transform 0.4s;
  transform-style: preserve-3d;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.scale:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.frontImg {
  transform: rotateY(180deg);
}

.frontImg,
.backImg {
  backface-visibility: hidden;
  padding: 15%;
  border-radius: 7px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #d4daf7;
}

.flip {
  transform: rotateY(180deg);
}

#timer {
  width: 100%;
  text-align: center;
  color: #fba90a;
  font-size: 200%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  margin: 5px;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #d4daf7;
  border: 2px solid #000;
  display: flex;
  flex-wrap: unset;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#submit {
  color: #f980f5;
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 5px;
  background-color: rgb(253, 253, 253);
  padding-left: 5px;
  padding-right: 5px;
}

#submit:focus {
  color: #9a0794;
  text-decoration: none;
}

.radioContainer {
  width: 35%;
}

label {
  font-size: 0.9rem;
  color: #f980f5;
}

label:hover,
label:focus {
  color: #9a0794;
  text-decoration: none;
}

p {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 5px;
  color: #9a0794;
}
